body {
}

.text-center {
    padding-top: 20px !important;
}
/*---------------- Login form -------------------*/
#loginModal .modal-footer {
    border-top: 0px;
}

/*--------------------- Projects page ------------*/
#projects_page {

}

/*-----------------------------------------------*/

.loading{
}

.loading .background, .loading .content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.loading .background{
    z-index: 1;

    background: silver;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.loading .content{
    z-index: 2;

    left: 50%;
    top: 50%;
}

.loading .content img {
    position: relative;
    width: 42px;
    height: 42px;

    display: inline-block;

    margin-left: -21px;
    margin-top: -21px;
}